<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="solutions" value="AddName"/>
    <add key="entities" value="systemuser
         ,team
         ,businessunit
         ,dia_autonumberconfiguration
         ,dia_externalconfiguration
         ,dia_configuration
         ,dia_supportingdocument
         ,activitymimeattachment
         ,salesorder
         ,salesorderdetail
         ,email,
         ,activityparty
         ,pricelevel
         ,product
         ,incident
         ,queue
         ,dia_applicationtype
         ,environmentvariabledefinition
         ,environmentvariablevalue"/>
    <add key="namespace" value="CCMS.Entities"/>
    <add key="servicecontextname" value="CCMSContext"/>
    <add key="sdkversion" value="9"/>
    <add key="onefile" value="false"/>
  </appSettings>
</configuration>
